* {
    /* border: 1px solid red; */
    font-family: 'Patrick Hand SC', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background:
    radial-gradient(#fff 3px, transparent 4px), /* Creates dots*/
    radial-gradient(#fff 3px, transparent 4px),
    #c8e7ff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.ear-container {
    display: flex;
    width: 340px;
    justify-content: space-around;
}

.ear {
    margin-bottom: -20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 340px;
    height: 500px;
    border-radius: 31px;
    background-color: #E3C5F5;
    padding: 20px;
    box-shadow: -5px 10px #C766BD;
}

.calculator-display {
    flex: 1;
    position: relative;
    display: flex;
    margin: 10px 0 10px 0;
    border-radius: 18px;
    background-color: #BAFAF2;
    margin-bottom: 20px;
    box-shadow: 3px -6px #C766BD;
    overflow: hidden;
}

#display-highlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: auto;
    opacity: 0.5;
}

.output{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: right;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    font-size: 1.5rem;
    color:rgba(27, 106, 106, 0.70);
}

.output .current-operand {
    color:#1B6A6A;
    font-size: 2.5rem;
}

.calculator-keypad {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.button-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60px;
}

button {
    width: 70px;
    height: 40px;
    border-radius: 4px 5px 10px 10px;
    border: 3px solid #A65398;
    background-color: #ffffff;
    color: #000000;
    box-shadow: -3px 3px #A65398;
    font-size: 1.2rem;
}

button:active {
    transform: scale(1.05);
}

.clear-button {
    border-color: #A12459;
    box-shadow: -3px 3px #A12459;
    background-color: #DC508B;
    color: #ffffff;
}

.clear-button:hover {
    border-color: #DC508B;
    background-color: #EEA8C5;
    box-shadow: -3px 3px #DC508B;
}

.operation-btn {
    border-color: #35ABAB;
    box-shadow: -3px 3px #35ABAB;
    background-color: #75DCD0;
    color: #ffffff;
}

.operation-btn:hover {
    border-color: #3593ab;
    box-shadow: -3px 3px #3593ab;
    background-color: #92e1e6;
}

.num-btn:hover {
    border-radius: 4px 5px 10px 10px;
    border: 3px solid #8e5eb3;
    box-shadow: -3px 3px #8e5eb3;
    background-color: #edfdff;
    color: #000000;

}

.carrot-btn {
    padding: 0;
    margin-bottom: 3em;
    background-color: transparent;
    border: none;
    box-shadow: none;

}

.tail {
    z-index: 15;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 3px solid #C766BD;
    border-radius: 100%;
    box-shadow: -5px 4px #C766BD;
}